.section01 {
  background-image: url(images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.section02 {
  background-image: url(images/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.section03 {
  background-image: url(images/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.section04 {
  background-image: url(images/bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.section05 {
  background-image: url(images/bg5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer {
  background-image: url(images/bg6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
